@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .lobster-regular {
        font-family: "Lobster", sans-serif;
        /* font-weight: 700; */
        font-style: normal;
    }
    .candal-regular {
        font-family: "Candal", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
    /* Add this to your custom CSS file */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
  
    .scrollbar-hidden {
        -ms-overflow-style: none;  /* For Internet Explorer and Edge */
        scrollbar-width: none;  /* For Firefox */
    }
  
      

}

